# Q1.What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS). 
Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

In [ ]:
Difference b/w SQL and NoSQL
1)	Databases are categorized as Relational Database Management System (RDBMS).	NoSQL databases are categorized as Non-relational or distributed database system.
2)	SQL databases have fixed or static or predefined schema.	NoSQL databases have dynamic schema.
3)	SQL databases display data in form of tables so it is known as table-based database.	NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
4)	SQL databases are vertically scalable.	NoSQL databases are horizontally scalable.
5)	SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
6)	SQL databases are best suited for complex queries.	NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.
7)	SQL databases are not best suited for hierarchical data storage.	NoSQL databases are best suited for hierarchical data storage.
8)	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
SQL commands are divided into four subgroups, DDL, DML, DCL, and TCL.

In [ ]:
DDL is short name of Data Definition Language, which deals with database schemas and descriptions, of how the data should reside in the database.
CREATE - to create a database and its objects like (table, index, views, store procedure, function, and triggers)
ALTER - alters the structure of the existing database
DROP - delete objects from the database
TRUNCATE - remove all records from a table, including all spaces allocated for the records are removed
COMMENT - add comments to the data dictionary
RENAME - rename an object

In [ ]:
Example:
CREATE TABLE if not exists table1(c1 INT,c2 VARCHAR(50),c3 INT,c4 FLOAT,c5 VARCHAR(40));

In [ ]:
#The ALTER TABLE command adds, deletes, or modifies columns in a table.

#The ALTER TABLE command also adds and deletes various constraints in a table.
ALTER TABLE table1
ADD email VARCHAR(50);

In [ ]:
ALTER TABLE table1
DROP COLUMN c4;   # it will delete column c4 from the exixting table.

In [ ]:
# The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE table1;

In [ ]:
# The DROP TABLE command deletes a table in the database.
DROP TABLE table1; # it will delete table1 from the database.

# Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML is short name of Data Manipulation Language which deals with data manipulation and includes most common SQL statements such SELECT, INSERT, UPDATE, DELETE, etc., and it is used to store, modify, retrieve, delete and update data in a database.

SELECT - retrieve data from a database
INSERT - insert data into a table
UPDATE - updates existing data within a table
DELETE - Delete all records from a database table
MERGE - UPSERT operation (insert or update)
CALL - call a PL/SQL or Java subprogram
EXPLAIN PLAN - interpretation of the data access path
LOCK TABLE - concurrency Control

# The INSERT INTO statement is used to insert new records in a table.
It is possible to write the INSERT INTO statement in two ways:

1. Specify both the column names and the values to be inserted:
    Syntax:
    INSERT INTO table_name (column1, column2, column3, ...)
    VALUES (value1, value2, value3, ...);
2.  If you are adding values for all the columns of the table, you do not need to specify the column names in the SQL query. 
    However, make sure the order of the values is in the same order as the columns in the table.
    Syntax:
    INSERT INTO table_name
    VALUES (value1, value2, value3, ...);
    
INSERT INTO table1
VALUES(24,'Rahul',45,85.8,'Jain');
INSERT INTO table1
VALUES(23,'Ram',75,95.8,'Jane');

# The UPDATE statement is used to modify the existing records in a table.
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
Note: Be careful when updating records in a table! Notice the WHERE clause in the UPDATE statement. 
The WHERE clause specifies which record(s) that should be updated. 
If you omit the WHERE clause, all records in the table will be updated!
# first time
UPDATE table1
SET c2= 'Pari', c3=2
WHERE c1=24;
# again checked with other conditions
UPDATE table1
SET c2= 'Pai', c3=8
WHERE c2='Pari';

# The DELETE statement is used to delete existing records in a table.
Syntax: DELETE FROM table_name WHERE condition;

DELETE FROM table1 WHERE c3=8;   # The entire row is deleted from the database.

# Q4.What is DQL? Explain SELECT with an example.

DQL (Data Query Language)
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

SELECT: It is used to retrieve data from the database.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Select * from test2.table_name")
for i in mycursor.fetchall():
    print(i)

# Q5.Explain Primary Key and Foreign Key.

A primary key is used to ensure that data in the specific column is unique.
A column cannot have NULL values.
It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
It is a column (or columns) that references a column (most often the primary key) of another table.

Primary Key contains unique values, whereas Foreign Key contains values taking reference from Primary Keys. The main characteristic property of the Primary key is that it can’t be repeated, it is unique.

# Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() 
# method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)    #  Connection will get established

In [ ]:
Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

Cursors created from the same connection are not isolated, i.e., any changes done to the database by a cursor are immediately visible by the other cursors. Cursors created from different connections can or can not be isolated, depending on the connections’ isolation level.
Cursors can be used as context managers: leaving the context will close the cursor.
with conn.cursor() as curs:
    curs.execute(SQL)

# the cursor is now closed

In [ ]:
Commands execution methods:
    execute(query, vars=None)
1.Execute a database operation (query or command).

Parameters may be provided as sequence or mapping and will be bound to variables in the operation. Variables are specified either with positional (%s) or named (%(name)s) placeholders. 

The method returns None. If a query was executed, the returned values can be retrieved using fetch*() methods.

2.Executes the given operation

Executes the given operation substituting any markers with
the given parameters.

For example, getting all rows where id is 5:
  cursor.execute("SELECT * FROM t1 WHERE id = %s", (5,))

The multi argument should be set to True when executing multiple
statements in one operation. If not set and multiple results are
found, an InterfaceError will be raised.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()    # connection varaiable.cursor is going to enable us to execute any query.
mycursor.execute("SHOW DATABASES") # Whatever command(here "SHOW DATABASES") you want to execute you can try to call cursor.execute function
for x in mycursor:
  print(x)

# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SQL query execution order means optimizing our search results from the database or where the query clauses are evaluated according to the requirements.

Like how we plan something step by step and reach the final result, similarly, we use clauses in a particular order known as the SQL query execution order. 
Here is the table that shows the order in which the clauses are used.
Order	Clause	   Function
1	   FROM	       Tables are joined to get the base data.
2	   WHERE	   The base data is filtered.
3	   GROUP BY	   The filtered base data is grouped.
4	   HAVING	   The grouped base data is filtered.
5	   SELECT	   The final data is returned.
6	   ORDER BY	   The final data is sorted.
7	   LIMIT	   The returned data is limited to row count.